/* THIS DIVIDES PAGE UP EVENLY */
.flex-container {
  display: flex;
  text-align: center;
}

.flex-child {
  flex: 1
}

.coral-flex-child {
  flex: 2;
  margin-right: 50px;
}

.fish-flex-child {
  flex: 2;
  margin-right: 50px;
}


/* HOVERING OVER IMAGE TO DISPLAY TEXT */
.info-image {
  object-fit: cover;
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  position: relative;
  width: 100%;
}

.overlay-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #3a4a58;
  font-size: xx-large;
  backface-visibility: hidden;
}

.container:hover .overlay-text {
  opacity: 1;
}

.container:hover .info-image {
  opacity: 0.4;
}

/* RADIO BUTTONS */
.rad-label {
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 7px 16px;
  margin: 10px 0;
  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  position: relative;
}

.rightCoral {
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  transition: .3s;
}

.rightFish {
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  transition: .3s;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

/* WRONG CORAL COLOUR  */
.wrongCoral {
  /* background: #D62839 */
  background-color: #f71735;
  background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);
}

.wrongFish {
  background-color: #f71735;
  background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  /* color: hsl(0, 0%, 60%); */
  color: #3a4a58;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 900;
  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}

/* IMAGE SIZING FOR CORAL ID PAGE */
.coral-id-image {
  object-fit: cover;
  width: 800px;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fish-id-image {
  /* object-fit: cover; */
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* box shadow on BANNER IMAGE IN HOME */
#banner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* gradient color for pages */
.gradient {
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hashtag {
  background-color: #60dfcd;
  background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}